.contact-title {
  color: #ffc700;
  font-family: "Tusker Grotesk";
  font-size: 130px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 170px;
}
