.header {
  display: flex;
  padding: 10px;
  justify-content: right;
  gap: 30px;
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 20px;
}
