* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat;
}

h1 {
  color: #f00;
  font-family: "Tusker Grotesk";
  font-size: 130px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
